body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ADD8E6;
  width: 400px;
  overflow: auto;
  margin-bottom: 50px;
  height: 500px;
}

#check {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#resultElement {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: black;
    height: 50px;
    text-align: center;
    padding: 10px 0;
}

.footer-text {
    margin: 0;
}
